<launch>

<arg name="namespace" default="nclml" /> #Nathanael's Camera, Lidar, Mapping and Localisation

<group ns="$(arg namespace)">

    <arg name="ROBOT_BASE"      value="0"   />
    <arg name="LIDAR"           value="1"   />
    <arg name="IMU"             value="0"   />
    <arg name="CAMERA"          value="0"   />
    <arg name="KEYBOARD"        value="1"   />

    <group if="$(arg ROBOT_BASE)">
        <include file="$(find nclml_robot)/launch/robot_base.launch" />
    </group>

    <group if="$(arg LIDAR)">
        <include file="$(find nclml_robot)/launch/lidar.launch" />
    </group>

    <group if="$(arg IMU)">
        <include file="$(find nclml_robot)/launch/imu.launch" />
    </group>

    <group if="$(arg CAMERA)">
       # <include file="$(find nclml_robot)/launch/camera.launch" />
    </group>

    <group if="$(arg KEYBOARD)">
       # <include file="$(find nclml_robot)/launch/keyboard.launch" />
    </group>

</group>

</launch>
